/prisma/migrations
/node_modules
/tests
/csv

results-unsorted-multi.json
results-stats-multi.json
backtestJS.db-journal
results-candles.json
results-orders.json
results-worths.json
results-multi.json
results-stats.json
package-lock.json
candleName.json
candles.json
.DS_Store
