/prisma/migrations
/node_modules
/archived
/tests
/dist
/csv

results-unsorted-multi.json
results-stats-multi.json
backtestJS.db-journal
results-candles.json
results-orders.json
results-worths.json
results-multi.json
results-stats.json
candleName.json
backtestJS.db
candles.json
.DS_Store
